
- 
    let aSecciones = [ 
        {label:'Inicio', url:"./index.html"},
        {label:'Porfolio', url: "./portfolio.html"},
        {label:'Clientes', url: "./clientes.html"},
        {label: 'About', url: "./about.html"}] 
mixin menu(aItems)
    nav
        ul
            each item in aItems
                li: a(href=item.url)=item.label