@import "reset.scss";
body{
    background: rgb(194, 194, 235);
}
nav{
    display: flex;
}
header{
    width: 100%;
    height: 100vh;
    position: absolute;
    img{
        width: 100%;
        height: 200%;
    }
}