body{
    margin: 2rem;
}
/* form{
    background: rgb(209, 153, 209);
    padding: 2rem;
} */
.control-group{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.check_group{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; /* al cambiar el eje cambia el sentido y hay que poner a flex end*/
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
/* fieldset{
    background: black;
} */
.select{
    width: 100%;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}
#curso{
    width: 50%;
    background: rgb(199, 118, 118);
    color: white;
    border: 0;
}



#btnControl {
    display: none;
}
nav{
    display:none;
}

#btnControl:checked + label > nav {
    display: block;
    font-size: 5rem;
    font-size: 5rem;
    color: red;
}


/* CSS EN FORMULARIOS */

*:required{
    box-shadow: 1px 2px 5px black;
    border: 1px solid red;
    color: crimson;
}
input[type="checkbox"]{
    border: 1px solid blue;
    color: green;
    background: blue;
    width: 50%;
}
